.Playlist {
  padding: 20px;
}

.h1 {
  /* color: #116466; */
}

 /* *{
  background: tomato;
  background: -webkit-linear-gradient(to right, lightgreen, tomato);
  background: linear-gradient(to right, lightgreen, #ffdead);
} */
